*{
    margin: 0;
    padding: 2;
    font: Times New Roman;
}
body{
    background-color: azure;
    font-family: arial;
}
h1{
    color: black;
    text-align: justify;
    font-size: 30px;
    background-color: lightblue;
}
h3{
    color: black;
    text-align: justify;
    font-size: 24px;
    margin: 10px 0;
}
footer{
    background-color: lightgray;
    text-align: center;
    padding: 10px 0;
    margin: 215px 0;
}
img{
  float: right;           
  margin-left: 35px;     
  margin-right: 100px;
  margin-top: -100px;

}